/*============ Google Font ============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400&display=swap");

/*============ Guided Style ============*/
:root {
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*============ Reset Style ============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*============ Common Style ============ << 공통으로 작용되는 스타일*/
.wrap {
  width: 100%;
  height: auto;
  _overflow: hidden;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1024px;
}

section {
  padding: 8rem 0 1rem;
}

.section-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.title-center {
  text-align: center;
}

.button {
  color: #fff;
  font-size: var(--h3-font-size);
  _font-weight: var(--font-medium);
  background: var(--first-color);
  width: fit-content;
  padding: 0.75rem 1.563rem;
  border-radius: 8px;
  margin-top: 1.563rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

/* 배경색 : var(--body-color)
로고 글자크기 : 1.15rem
로고 나뭇잎 색 : var(--first-color)
네비게이션 글자 크기 : var(--normal-font-size) */

/*============ MAIN STYLE ============*/
/*============ 1. Header Style ============*/

/* .header{
    background-color: var(--body-color);
}

.container > .nav-logo{
    font-size:1.15rem;
    color:var(--first-color);
}

.container > .nav-menu{
    font-size:var(--normal-font-size);
}

.container > .nav-menu > ul{
    display:flex;
    justify-content: space-between; */

.header {
  box-shadow: 0 5px 10px #efefef;
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.header .nav-logo,
.footer .nav-logo {
  color: var(--title-color);
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 1.25rem 0;
}

.header .nav-logo .nav-logo-icon,
.footer .nav-logo .nav-logo-icon {
  color: var(--first-color);
}

.header .nav-menu {
  display: flex;
  column-gap: 1.5rem;
}

.header .nav-menu .nav-list {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

.header .nav-menu .nav-list .nav-item.active > .nav-link {
  color: var(--first-color);
}
.header .nav-menu .nav-list .nav-item.active > .nav-link::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
}

.header .nav-menu .nav-list .nav-link {
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  padding: 1.25rem 0;
  display: block;
  position: relative;
}

/* .header .nav-menu .nav-list .nav-link::before {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
} */

.header .nav-menu .nav-btns {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.header .nav-menu .nav-icon {
  display: flex;
  color: var(--title-color);
  flex-direction: column;
  font-size: var(--h2-font-size);
}

.header .nav-menu .nav-icon.menu-icon {
  display: none;
}

/*============ 1. Home Style ============*/

/* 메인 타이틀 : var(--big-font-size), font-weight:var(--font-semi-bold), color:var(--title-color)
작은 글씨 설명 : color:var(--text-color)
버튼 : font-weight:var(--font-medium)
사진 넓이 : 350px

.container {
  display: flex;
}

.container .home-txt .home-title {
  font-size: 3.5rem;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  display: flex;
}

.container .home-txt .home-title .home-desc {
  color: var(--text-color);
  display: flex;
}

.container .home-txt .button {
  background-color: black;
  color: #fff;
}

.container .home-txt .button > i {
  align-content: center;
}

.container .home-image {
  width: 350px;
  height: auto;
} */

.home {
  padding: 13rem 0 5rem;
}

.home .home-contents {
  display: flex;
  position: relative;
}

.home .home-contents .home-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 4.5rem;
  margin-bottom: 1.563rem;
}

.home .home-contents .home-desc {
  color: var(--text-color);
}

.home .home-contents > .home-box {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .home-contents > div.home-image {
  align-items: center;
}

.home .home-contents > div.home-image > img {
  width: 350px;
}

.home .home-contents .home-social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /*여기*/
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6rem;
}

.home .home-social .home-social-txt {
  transform: rotate(90deg);
  display: flex;
  position: relative;
  align-items: center;
  font-weight: var(--font-medium);
  color: var(--first-color);
  font-size: var(--small-font-size);
}

.home .home-social .home-social-txt::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 5rem;
}

.home .home-social .home-social-links {
  display: flex;
  flex-direction: column;
}

.home .home-social .home-social-link {
  color: var(--first-color);
  font-size: 1.15rem;
}

/*============ 2. About Style ============*/

.about-contents {
  display: flex;
  column-gap: 7rem;
}

.about-contents .about-box {
  width: 50%;
} /*여기~!~!~!~!*/

.about-contents .about-image {
  display: flex; /*여기~!~!~!~!*/
  align-items: center; /*여기~!~!~!~!*/
  justify-content: center; /*여기~!~!~!~!*/
}

.about-contents .about-image > img {
  width: 380px;
}

.about .about-contents .about-txt {
  width: 50%;
}

.about .about-txt .about-desc {
  /*여기~!~!~!~!*/
  margin: 1.563rem 0;
}

.about .about-txt .about-details {
  /*여기~!~!~!~!*/
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about .about-txt .about-detail {
  font-size: var(--small-font-size);
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.about .about-txt .about-btn {
  /*여기~!~!~!~!*/
  color: var(--first-color);
  display: flex;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  margin-top: 1.563rem;
  align-items: center;
}

/*============ 3. Step Style ============*/
.step .step-wrap {
  /*높이 지정x*/
  width: 100%;
  background: var(--first-color);
  border-radius: 1rem;
  padding: 3.5rem 2.5rem;
}

.step .section-title {
  color: #fff;
  margin-bottom: 2.5rem;
}

.step .step-boxes {
  display: flex;
  justify-content: space-between;
}

.step .step-box {
  background: #fff;
  width: 30%;
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.step .step-box h3 {
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  background: var(--first-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  width: fit-content;
  _margin-bottom: 1rem;
}

.step .step-box h4 {
  margin: 1.125rem 0;
}

.step .step-box p {
  font-size: var(--small-font-size);
}

/* .step .step-contents .step-boxes {
  display: flex;
}

.step .step-contents .step-boxes .step-box {
  width: 33.33%;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
}

.step .step-contents .step-boxes .step-box h3 {
  display: flex;
} */

/*============ 4. Product Style ============*/

.product-content .product-desc {
  width: 60%;
  margin: 2.5rem auto;
  text-align: center;
}

.product-boxes {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.product-boxes .product-box {
  width: 33.33%;
  padding: 1rem;
}
.product-boxes .product-box .product-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.product-boxes .product-box div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.product-boxes .product-box .product-txt i {
  color: #fff;
  background: var(--first-color);
  display: block;
  padding: 0.3rem;
  border-radius: 5px;
}
.product-boxes .product-box div em {
  font-style: normal;
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
}

.product-boxes .product-box div strong {
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
}

.product-boxes .product-box .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
}

.product-boxes .product-box .product-image .item-circle {
  position: absolute;
  display: block;
  width: 7rem;
  height: 7rem;
  background: var(--first-color-lighten);
  border-radius: 50%;
  transform: translateX(-30px);
}

.product-boxes .product-box .product-image:hover img {
  transform: translate(30px, -30px);
}

.product-boxes .product-box .product-image img {
  width: 60%;
  transform: translateX(30px);
  transition: all 0.3s ease;
}
/*============ 5. QNA Style ============*/
.qna {
  background: var(--first-color-lighten);
}

.qna .qna-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  margin: 2.5rem 0;
  align-items: flex-start;
}

.qna .qna-box {
  background: #fff;
  width: calc(50% - 0.5rem);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.qna .qna-box:hover {
  box-shadow: 0 0 8px #bfbfbf;
}

.qna .qna-header {
  display: flex;
  padding: 1rem;
}

.qna .qna-header i {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 0.5rem;
}

.qna .qna-header h3 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}
.qna .qna-answer {
  width: 100%;
  padding: 1rem;
  font-size: var(--small-font-size);
  _display: none;
}
.qna .qna-box.active {
  background: var(--first-color);
}
.qna .qna-box.active .qna-header i,
.qna .qna-box.active .qna-header h3,
.qna .qna-box.active .qna-answer {
  color: #fff;
}

/*============ 6. Contact Style ============*/
.contact .contact-contents {
  display: flex;
}

.contact .company-info {
  width: 45%;
}
.contact .input-info {
  width: 65%;
  _background: #dedede;
  padding: 0 0 0 3rem;
}
.contact div.txt h3 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}
.contact div.txt span {
  display: flex;
  align-items: center;
}

.contact .contact-tel {
  margin: 2rem 0;
}

.contact .form {
  padding: 1rem;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
}
.contact .form p {
  width: 100%;
}
.contact .form p input,
.contact .form p textarea {
  width: 100%;
  padding: 0 0 1rem 0;
  border: none;
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color);
  resize: none;
  outline: 0;
}

.contact .form p textarea {
  height: 10rem;
}
/*============ 7. Footer Style ============*/
.footer .footer-contents {
  display: flex;
}
.footer .footer-item {
  _border: 1px solid;
  width: 25%;
}
.footer .footer-item:nth-child(1) {
  width: 30%;
}
.footer .nav-logo {
  padding: 0;
}
.footer .footer-title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.footer .footer-item:nth-child(1) .footer-title {
  margin: 2rem 0 1.5rem;
}
.footer .footer-item:not(:first-child) {
  /*여기*/
  padding-left: 2rem;
}
.footer .btn-box {
  display: flex;
  padding: 0.5rem;
  background: var(--first-color-lighten);
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.footer .btn-box em {
  font-size: var(--small-font-size);
  font-style: normal;
  color: var(--text-color);
}

.footer .btn-box .button {
  margin: 0;
  font-size: var(--small-font-size);
  padding: 1rem;
}

/*============ Memo ============*/
/* 1. 박스, 텍스트, 그림자 효과 */
.box {
  width: 200px;
  height: 100px;
  background: yellow;
  box-shadow: 10px 10px;
  /* 박스와 글자에 그림자 효과를 표현한다. 첫 번째 값은 x축, 두 번째 값은 y축, 세 번째 값은 번짐, 네 번째는 그림자 색을 나타낸다. */
}
